@import 'Var/color';
@import 'Var/med-query';

// Component
@import'Component/navbar';
@import'Component/hero';
// @import'Component/landing';
// @import'Component/ket';
// @import'Component/clients';
// @import'Component/case';
// @import'Component/latest';
// @import'Component/footer';


body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

@font-face {
    src: url(../../assets/font/SegoeUI-R.ttf);
    font-family: SegoeR;
}

@font-face {
    src: url(../../assets/font/SegoeUI-SB.ttf);
    font-family: SegoeSB;
}

@font-face {
    src: url(../../assets/font/SegoeUI-B.ttf);
    font-family: SegoeB;
}